.container {
  max-width: calc(1200px + 2em);
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  font-size: 1em;
}

.box_header {
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
  padding-bottom: 67px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.box_header a {
  display: inline-block;
  vertical-align: middle;
}

.header_logo {
  display: flex;
  align-items: center;
}
.header_logo p {
  font-size: 0.8125em;
  margin-left: 14px;
  display: inline-block;
  width: 240px;
}

.header_icon {
  display: flex;
  align-items: center;
}
.header_icon a {
  margin-left: 10px;
}
.header_icon p {
  font-size: 0.9375em;
  width: 136px;
}

.header_btn {
  display: flex;
  align-items: center;
}

.header_btn_text {
  margin-right: 20px;
}
.header_btn_text a {
  color: rgb(89, 63, 13);
  font-weight: 700;
  font-size: 1.25em;
  margin-bottom: 10px;
  text-decoration: none;
}
.header_btn_text p {
  font-size: 0.75em;
}
.header_btn_text p::before {
  content: "";
  display: inline-block;
  background: #22C74E;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 7px;
}

.btn {
  font-size: 0.75em;
  position: relative;
  padding: 15px;
  text-transform: uppercase;
  background: linear-gradient(274.27deg, rgba(255, 255, 255, 0) -14.6%, rgba(255, 255, 255, 0.39) 39.52%, rgba(255, 255, 255, 0) 110.6%), linear-gradient(263.81deg, #FFC771 10.32%, #FFC858 98.17%);
  box-shadow: inset 0px 2px 15px rgba(255, 255, 255, 0.41), inset 19px 0px 25px rgba(255, 255, 255, 0.11);
  offset-path: path("19px, 0px");
  border-radius: 15px;
  border: none;
  min-width: 180px;
  cursor: pointer;
  transform-style: preserve-3d;
}
.btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background: linear-gradient(0deg, rgba(131, 93, 19, 0.36), rgba(131, 93, 19, 0.36)), linear-gradient(263.81deg, #FBD293 10.32%, #FFD172 98.17%);
  transform: translate3d(0, 6px, -6px);
}
.btn:hover {
  transform: translate(0, 3px);
}
.btn:hover::before {
  transform: translate3d(0, 3px, -6px);
}
.btn:active {
  transform: translate(0, 6px);
}
.btn:active::before {
  transform: translate3d(0, 0, -6px);
}

main {
  font-size: 1em;
}

.main_top {
  height: 675px;
  background: url(../img/living-room-interior.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: 50% 0;
}
.main_top::after {
  content: "";
  display: inline-block;
  height: 67px;
  width: 100%;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
}

.main_box1 {
  padding-top: 142px;
  padding-bottom: 130px;
}
.main_box1 h2 {
  width: 650px;
  font-size: 2.5em;
  font-weight: 400;
  padding-bottom: 50px;
}
.main_box1 h2 span {
  color: #FFC771;
  font-weight: 700;
}
.main_box1 p {
  width: 403px;
  font-size: 1.5625em;
  padding-bottom: 40px;
}

.main_box1_btn {
  position: relative;
}
.main_box1_btn img {
  position: absolute;
  transform: rotate(-15deg);
  left: 205px;
  top: -55px;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html body {
  font-family: "Gilroy", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #593F0D;
}

img {
  max-width: 100%;
  height: auto;
}

.wraper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
